.content {
    background-color: #F5F5F580;
    width: 1200px;
}

.content-inner {
    vertical-align: top;
    display: inline-block;
    width: 689px;
    padding-top: 68px;
    padding-bottom: 85px;
    padding-left: 40px;
}

.welcome {
    width: 205px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.4px;
    color: #3D3D3D;
    margin-top: 0px;
    margin-bottom: 7px;
    display: inline-block;
}

.inform {
    width: 545px;
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
    color: #3D3D3D;
    margin-top: 0;
    margin-bottom: 5px;
}

.inform .planet {
    color: #46A358;
}

.descriptions {
    width: 557px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #727272;
    margin-top: 0px;
}

.link-shop {
    width: 140px;
    background-color: #46A358;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-top: 44px;
}

.flowers {
    width: 507px;
    height: 450px;
}